
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8283001-3', 'auto');
    ga('send', 'pageview');

</script>

<div class="jumbotron">
  <h1>Some information about you first</h1>
  <p> Feel free to skip any questions you would prefer not to answer.</p>
  <!--<%= button_to('Start', root_path, class:"btn btn-danger btn-lg pull-right",remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>-->
</div>


<div class="container">
<%= simple_form_for @participant do |f| %>

    <%= f.input :discipline, :input_html => {:maxlength => 100, :size => 80},
                label: 'What is your primary subject discipline?',
                placeholder: 'e.g. Biology, Biochemistry, Systems biology, Bioinformatics, Immunogenetics, etc.  ',
                autofocus: true
    %> <br />

      <%= f.input :materials_type, :input_html => {:maxlength => 100, :size => 80},
                  label: 'What type of materials(research data) do you produce/collect?',
                  placeholder: 'e.g. mathematical models in SBML formated files; Analysis mRNA in spreadsheets',
                  autofocus: true
      %> <br />



    <%= f.input :year_born, collection: 1950..2000,
                label: 'In what year were you born?',
                prompt: 1995
    %> <br />


      <%= f.input :tongue, as: :check_boxes,
                  label: 'In terms of your English speaking skills, which of the following conditions applies to you:',
                  hint: "You can select more than one.",
                  collection: [
                          "I'm a native English speaker",
                          "I have lived in an English speaking country for more than 2 years",
                          "I have been living in an English speaking country for at least 10 months",
                          "I've learnt English when I was a child ( > 12 years old)",
                          "I have an English proficiency above professional working level"
                  ]
      %> <br />



    <%= f.input :howmany, as: :radio_buttons,
                label: 'How many people are involved in the process of creating your materials?',
                hint: "that could include for example other researchers, students, or lab technicians)",
                collection: ["only me","between 2 and 4","between 5 and  12","between 13 and 20","more than 20"]
    %> <br />

      <%= f.input :man_hours, collection: 10..300,
                  label: 'Can you estimate how many days of work per person are needed to produce/collect one of yours materials?',
                  prompt: 20
      %> <br />


 </div>


  <div class="bs-example">
    <ul class="nav nav-pills">
      <!--<li class="active"><a data-toggle="tab" href="#section0"></a></li>-->
      <li><a data-toggle="tab" href="#sectionA">Click to Review Scenario</a></li>
      <li><a data-toggle="tab" href="#sectionB">Click to Review Overview</a></li>
    </ul>
    <div class="tab-content">
      <!--<div id="section0" class="tab-pane fade in active"></div>-->
      <div id="sectionA" class="tab-pane fade">
        <h3>Scenario</h3>
        <ol class="lead" >
          <ol>
            <li><strong>Imagine</strong> you are a Scientist participating in an International European collaboration.</li>
            <li><strong>Imagine</strong> that your institution or funding body has requested that you and your collaborators publish your research data online once you have published your paper.</li>
            <li>Your task for this experiment is to <strong>visit</strong> two websites that are frequently used by other scientists to publish data online and <strong>evaluate</strong> each of them by publishing a file of your 'fictional' research data.</li>
            <li>Please perform the experiment as you would in a<mark>real life scenario</mark>.</li>
          </ol>

        </ol>
      </div>
      <div id="sectionB" class="tab-pane fade">
        <h3>Overview</h3>
        <p>This experiment consists of two website evaluations divided by a small memory activity</p>

        <ol class="lead" >
          <li>After <strong>reading</strong> these instructions, you will be taken to a page where you will be asked to <strong>enter</strong>  some <mark>information about your background</mark>.</li>
          <li>Then you will be guided to the first part of the website evaluation.</li>
          <!--<li>After, you will be asked to <strong>answer</strong> <mark>4 questions</mark> about the task you just performed.</li>-->
          <li>Next, you will carry out a small <strong>activity</strong> during a break.</li>
          <li>Then you will continue with your second website  evaluation.</li>
          <li>Finally you will be asked to <strong>answer</strong> a small set of more <mark>questions</mark> and then you will be debriefed.</li>

        </ol>      </div>
    </div>
  </div>
<br>
      <div >
        <%= f.submit "Start Experiment", class: "btn btn-danger btn-lg"  %>

      </div>
  <% end %>