
<%
   if Seek::Config.is_virtualliver
     button_class="gadget_button_menu"
   else
     button_class="gadget_button"
   end
%>

<% if current_user.person.can_create_new_items? -%>

    <% cache "new_object_gadget" do -%>
        <%= new_creatable_javascript -%>
        <%= hidden_field_tag :new_resource_type %>

        <div id="new_asset" class="sysmo_gadget">

          <div class="header curved_top">
            <!--<%= t('gadget.new_heading') %>-->

            <%= t(Planout.instance.get[:template][:primary_btn_title]) %>
          </div>

          <div class="contents curved_bottom">
            <div style="text-align: center;">

              <style>
                  .button_link {
                      color: #FFF;
                      background-color: #337AB7;
                      border-color: #2E6DA4;
                      display: inline-block;
                      padding: 6px 12px;
                      margin-bottom: 0px;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 1.42857;
                      text-align: center;
                      white-space: nowrap;
                      vertical-align: middle;
                      cursor: pointer;
                      -moz-user-select: none;
                      background-image: none;
                      border: 1px solid transparent;
                      border-radius: 4px;
                  }

                  .button_link:hover {
                      color: white;
                  }
              </style>

              <%= link_to Planout.instance.get[:template][:primary_btn], new_data_file_path, class:"button_link" %>

              <!--<input type=button id="new_asset_button" class="<%= button_class %>" value="<%= Planout.instance.get[:template][:primary_btn] %>" onclick="javascript:toggleDynamicMenu('new_asset_menu');"/>-->
              <!--<input type=button id="new_asset_button" class="<%= button_class %>" value="<%= t('gadget.create_button')%>" onclick="javascript:toggleDynamicMenu('new_asset_menu');"/>-->
              <ul id="new_asset_menu" class='dynamic_menu with_smaller_shadow' style="display:none;">

                <% new_creatable_selection_list.each do |item| -%>
                    <li class='dynamic_menu_li' onclick="javascript:newAssetSelected('<%= item[1] -%>');"><%= item[0] -%></li>
                <% end -%>

              </ul>

              <% if Seek::Config.is_virtualliver -%>
                  <input type=button id="file_upload_tool" class="gadget_button" value="Upload tool" onclick="window.open('http://seek.virtual-liver.de/file_upload_tool/')">
              <% end %>

            </div>
          </div>

        </div>
        <script type="text/javascript">

            function newAssetSelected(item) {
                $('new_resource_type').value = item;
                newAsset();
            }

        </script>
    <% end -%>

<% end -%>



