<% if Seek::Config.header_tagline_text_enabled %>



      <style media="screen" type="text/css">

          #topbar {
              text-align: center;
              height: 40px;
              background-image: url("<%= asset_path(session[:planout_data][:template][:searchfade_repeat]) %>");
              background-repeat: repeat-x;
              background-position: top center;
              padding: 10px 0;
              border-top: 0px;
          }

          /*body{*/
              /*padding-top: 140px;*/
          /*}*/

          #myexp_sidebar {
              padding: 10px 0.5em 1px 0.5em;
              background-color: #<%= session[:planout_data][:template][:color] %>;
              border-right: 1px solid #DEDEDE;
              border-width: 0 0 1px 1px;
          }

          div.home_panel .heading {
              background-color: #<%= session[:planout_data][:template][:color] %>;
          }

          .menutabs li a:link {
              background: none repeat scroll 0 0 #<%= session[:planout_data][:template][:color] %>;
              border: 0 none;
              color: #ffffff;
          }

          #curved_top {
              background-color: #<%= session[:planout_data][:template][:color] %>;
          }

          .menutabs li a:visited {
              background: none repeat scroll 0 0 #<%= session[:planout_data][:template][:color] %>;
              color: #ffffff;
          }

          ul#header > li#seek_logo img {
              max-height: 80px;
              max-width: 200px;
          }

      </style>


    <p id='header_text_main'  class="box_standout">
    <%= session[:planout_data][:template][:header_frames] %>

    </p>





<% else %>
    <p id='header_text_main'>&nbsp;</p>
<% end %>
